# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
*.local

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json

# Code coverage
*.lst

*.pdb
*.map
